<!-- Chat.cshtml -->
<h2>Chat with Other Users</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>
            <a href="@Url.Action("ChatWithUser", "Home", new { receiverId = user.Id })">
                @user.Username
            </a>
        </li>
    }
</ul>
